<section class="popular" id="popular">

    <h1 class="heading"> most <span>popular</span> foods </h1>

    <div class="box-container">

        <div class="box" *ngFor="let food of foods">
            <span class="price">  dt </span>
            <img src="https://media.discordapp.net/attachments/942878359099150426/943136474281439303/s-img-1.jpg" alt="">
            <h4>
                <h3 >{{food.food_name}}</h3>
            </h4>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <a href="#" class="btn">order now</a>

</div>
    </div>

</section>
