<section class="Admin" id="gallery">

    <h1 class="heading"> our Admin <span> Page</span> </h1>

    <div class="box-container">

        </div>


        <section class="order" id="order">
            <h1 class="heading"> <span>Welcome</span> Delivery Boy</h1>
            <div class="row">
                <div class="image">
                    <img id="test" src="https://media.discordapp.net/attachments/933738586606542938/943652898804494366/download.png" alt="">
                </div>
               
                    <div class="inputBox">
                    </div>
                    <div class="inputBox">
                    </div>
                    <input type="submit" value="Delivery Position" class="btn"  >
                    <input type="submit" value="Delivery List" class="btn">
                    <input type="submit" value="Order completed" class="btn">
            </div>
        </section>
        <section class="order" id="order">
            <h1 class="heading"> <span>Welcome</span> Boss</h1>
            <div class="row">
                <div class="image">
                    <img id="test" src="https://year0film.files.wordpress.com/2021/03/static1.squarespace.jpg" alt="">
                </div>
               
                    <div class="inputBox">
                    </div>
                    <div class="inputBox">
                    </div>
                    <input type="submit" value="Add Food" class="btn">
                    <input type="submit" value="Financial statistics" class="btn">
                    <input type="submit" value="Clients List" class="btn">
            </div>
        </section>

</section>
