<div style="text-align:center">
<h1>
  Hello App 
</h1>
<a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>

<div id="menu-bar" class="fas fa-bars"></div>
<nav class="navbar">
  <a routerLink='/Login' routerLinkActive="router-link-active" >Login</a>
  <a routerLink='/Singnup' routerLinkActive="router-link-active">Singnup</a>
  <a  routerLink='/Home' routerLinkActive="router-link-active">Home</a>
  <a  routerLink='/Order' routerLinkActive="router-link-active">Order</a>
  <a  routerLink='/Popular' routerLinkActive="router-link-active">Popular</a>
  <a  routerLink='/Review' routerLinkActive="router-link-active">Review</a>
</nav>
</div>
<router-outlet></router-outlet>
