<section class="speciality" id="speciality">

    <h1 class="heading"> our <span>speciality</span> </h1>

    <div class="box-container">

        <div class="box">
            <img class="image" :src="https://media.discordapp.net/attachments/933738586606542938/943630571966455868/s-img-1.jpg" alt="">
            <div class="content">
                <img src="https://media.discordapp.net/attachments/933738586606542938/943088011661426688/s-1.png" alt="">
                <h3>tasty burger</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://media.discordapp.net/attachments/933738586606542938/943630924506071130/s-img-2.jpg" alt="">
            <div class="content">
                <img src="https://media.discordapp.net/attachments/933738586606542938/943133060721950730/s-2.png" alt="">
                <h3>tasty pizza</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://media.discordapp.net/attachments/933738586606542938/943631143834615808/s-img-3.jpg" alt="">
            <div class="content">
                <img src="https://media.discordapp.net/attachments/933738586606542938/943133115759591434/s-3.png" alt="">
                <h3>cold ice-cream</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://media.discordapp.net/attachments/933383404702011432/943631380091392011/s-img-4.jpg" alt="">
            <div class="content">
                <img src="https://media.discordapp.net/attachments/933738586606542938/943133115956748329/s-4.png" alt="">
                <h3>cold drinks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://media.discordapp.net/attachments/933383404702011432/943631918367408179/s-img-5.jpg" alt="">
            <div class="content">
                <img src="https://media.discordapp.net/attachments/933738586606542938/943133116166471690/s-5.png" alt="">
                <h3>tasty sweets</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="https://media.discordapp.net/attachments/933383404702011432/943632032704102441/s-img-6.jpg" alt="">
            <div class="content">
                <img src="https://media.discordapp.net/attachments/933738586606542938/943133135367975002/s-6.png" alt="">
                <h3>healty breakfast</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>

    </div>

</section>
