.review{
    margin-top:5px;
}
.rate1{

  color:rgb(231, 83, 14);
}

.rate2{

  color:rgb(231, 83, 14);
}

.rate3{

  color:rgb(231, 83, 14);
}
.rate4{

  color:rgb(231, 83, 14);
}
.rate5{

  color:rgb(231, 83, 14);
}
.rate6{

  color:rgb(231, 83, 14);
}
.rate7{

  color:rgb(231, 83, 14);
}
.rate8{

  color:rgb(231, 83, 14);
}
.rate9{

  color:rgb(231, 83, 14);
}
.rate10{

  color:rgb(231, 83, 14);
}
.rate11{

  color:rgb(231, 83, 14);
}
.rate12{

  color:rgb(231, 83, 14);
}
.rate13{

  color:rgb(231, 83, 14);
}
.rate14{

  color:rgb(231, 83, 14);
}

