
<section class="review" id="review">
    <div class="container">
      <section class="order" id="order">
        <h1 class="heading"> <span>order</span> now </h1>
        <div class="row">
            <div class="image">
              <img  id="tt" src="https://media.discordapp.net/attachments/933738586606542938/943652898804494366/download.png" alt="">
              <h6 class="heading">Rate our service</h6>
              <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
            </div>
            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder=" your name" id ="name">    <input type="file">
                </div>
                <div class="inputBox">
                </div>
                <textarea placeholder="give as your feedback"  name="" cols="30" rows="10" id="adress"></textarea>
                <input type="submit" value="submit feed" class="btn">

            </form>

        </div>
    </section>

